# Binaries


# Output and sample folders used for testing

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# MacosX artefacts
.DS_Store

# GoLand (IDE) artefacts
.idea

# Confguration files
#config/*.yaml
#/webroot/
