{{ $thisPayload := .payload }}
{{ $siteParams := .siteParams}}

{{ $objectTypeLabel := $thisPayload.context.lookup }}
{{ $objectType := index $siteParams.objects $objectTypeLabel }}
#### `context`

{{ if or (eq $objectTypeLabel "generic-object-repository") (eq $objectTypeLabel "generic-object-service") }}
This `activity` has a `context`. The `context` has:
* An `id` which is the HTTP URI of the "landing page" for the resource.
* A `type`.
* An `ietf:cite-as` which contains the persistent HTTP URI (sometimes called the "PID") which is to be used to cite or link to the resource.
{{ else if eq $objectTypeLabel "preprint" }}
This offer `activity` has a `context` representing the {{ $objectTypeLabel }}. The `context` has:
* An `id` which is the HTTP URI of the "landing page" for the resource.
* A `type` which should include the value *AboutPage* from schema.org.
* An `ietf:cite-as` which contains the persistent HTTP URI (sometimes called the "PID") which is to be used to cite or link to the resource.
* A `url` containing the details of the actual content resource. The `url` has:
    * An `id` containing the HTTP URI of the content file for the resource.
    * A `type` describing the content file.
    * A `mediaType` which contains the MIME Type of the content file.
{{ else if or (eq $objectTypeLabel "review") (eq $objectTypeLabel "journal-review") (eq $objectTypeLabel "repository-review") }}
The `activity` has a `context` representing the {{ $objectTypeLabel }}. The `context`has:
* An `id` which is the HTTP URI of the "landing page" for the resource.
* A `type` which should include the value *Document* from AS 2.0.
* An `ietf:cite-as` which contains the persistent HTTP URI (sometimes called the "PID") which is to be used to cite or link to the resource.
* An `coar-notify:reviews` which contains the details of the resource which has been reviewed. The `coar-notify:reviews` property has:
    * An `id` containing the HTTP URI of the content file for the resource.
    * An `ietf:cite-as` which contains the persistent HTTP URI (sometimes called the "PID") which is to be used to cite or link to the resource.
{{ else if eq $objectTypeLabel "endorsement" }}
The `activity` has a `context` representing the {{ $objectTypeLabel }}. The `context`has:
* An `id` which is the HTTP URI of the "landing page" for the resource.
* A `type` which should include the value *Page* from AS 2.0.
* An `ietf:cite-as` which contains the persistent HTTP URI (sometimes called the "PID") which is to be used to cite or link to the resource.
* An `coar-notify:endorses` which contains the details of the resource which has been reviewed. The `coar-notify:endorses` property has:
    * An `id` containing the HTTP URI of the content file for the resource.
    * An `ietf:cite-as` which contains the persistent HTTP URI (sometimes called the "PID") which is to be used to cite or link to the resource.
{{ else if eq $objectTypeLabel "submission" }}
The `activity` has a `context` representing the {{ $objectTypeLabel }}. The `context`has:
* An `id` which is the HTTP URI of the "landing page" for the resource.
* A `type` which should include the value *AboutPage* from schema.org.
* A `url` containing the details of the actual content resource. The `url` has:
    * An `id` containing the HTTP URI of the content file for the resource.
    * A `type` describing the content file.
    * A `mediaType` which contains the MIME Type of the content file.
{{ else if eq $objectTypeLabel "activity to be revoked" }}
The `activity` has a `context` representing the {{ $objectTypeLabel }}. The `context`has:
* An `id` which MUST contain the URI for the {{ $objectTypeLabel }}
* A `type` which should describe the type of the {{ $objectTypeLabel }}
{{ end }}


