{{ define "main" }}
  <div class="row">
    <div class="col">
      <h1 class="page-title">Tag: {{ .Title | markdownify }}</h1>
      {{ .Description | markdownify}}
      <br/>
      {{ .Content }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Pages tagged with '{{ .Title | markdownify }}'</h4>
      {{ with .Data.Pages }}
      <ul>
      {{ range . }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
{{ end }}

