{{ define "main" }}
<div class="row">
    <div class="col">
        <h1 class="page-title">{{ .Title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ .Content }}
    </div>
</div>
<div class="row">
    <div class="col">
        <table id="scenariosTable" class="table table-sm">
            <thead>
            <tr class="column-header-row">
                <th>ID</th>
                <th>Scenario</th>
                <th>Initiated by</th>
            </tr>
            </thead>
            <tbody>
            {{ range .Sections }}
                <tr>
                    <td><a href="{{ .Permalink }}">{{ replace (replace .File.Dir "scenarios/" "") "/" "" }}</a></td>
                    <td>{{ .Title }}</td>
                    <td>{{ .Params.actor_1 }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}