{{ define "main" }}
<div class="row">
    <div class="col">
        <h1 class="page-title">{{ .Title }}</h1>
        (This is a notification from the <i><a href="{{ .Page.CurrentSection.Permalink }}">{{ .Page.CurrentSection.Title }}</a></i> scenario)
        <br/><br/>
      <p>{{ .Description | markdownify }}</p>
        {{ if eq .Params.scope "notify" }}
        {{ range .Page.Resources.Match "*.json" }}
        <h3 id='example_{{ index (split .Name ".") 0 }}'>
            Example {{ (index (split .Name ".") 0) }}: {{ .Params.caption | markdownify }}
        </h3>
        <pre><code class="language-json">{{ readFile .RelPermalink }}</code></pre>
        <br/>

        {{ end }}

        {{ end }}
    </div>
</div>
{{ end }}