{{ define "main" }}
  <div class="row">
    <div class="col">
      <h1 class="page-title">{{ .Title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
        {{ .Content }}
    </div>
  </div>
  <div class="row">
      {{ range .Data.Pages }}
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-header">
              <a class="card-title-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            <div class="card-body">
              {{ with .Description }}
              <h3>Description</h3>
              {{ . }}
              {{ end }}

              {{ with .Params.mandatory_properties }}
              <h3>Mandatory Properties</h3>
              <p>{{ . | markdownify }}</p>
              {{ end }}

              {{ with .Params.optional_properties }}
              <h3>Optional Properties</h3>
              <p>{{ . | markdownify }}</p>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
  </div>

{{ end }}