{{ define "main" }}
  <div class="row">
    <div class="col">
      <h1 class="page-title">Scenario: {{ .Title }}</h1>
      {{ .Scratch.Set "actor_1" .Params.actor_1 }}
      {{ .Scratch.Set "actor_2" .Params.actor_2 }}
      {{ .Content }}
      <div class="row">
        <div class="col-3 column-left">
          <h2 class="swim-lane-title">{{ .Scratch.Get "actor_1" }}</h2>
        </div>
        <div class="col-6 column-center">
          <h2 class="swim-lane-title">Notifications</h2>
        </div>
        <div class="col-3 column-right">
          <h2 class="swim-lane-title">{{ .Scratch.Get "actor_2" }}</h2>
        </div>
      </div>
      {{ partial "steps" . }}
    </div>
  </div>
{{ end }}