{{ $thisPayload := .payload }}
{{ $siteParams := .siteParams}}
{{ $objectTypeLabel := $thisPayload.object.lookup }}
{{ $object := dict "" ""}}
{{ if eq $objectTypeLabel "activity to be revoked" }}
    {{ $object = $thisPayload.object.payload}}
{{ else }}
    {{ if isSet $thisPayload.object "lookup" }}
        {{ $object = (index $siteParams.objects $thisPayload.object.lookup)}}
    {{ else }}
        {{ $object = $thisPayload.object.payload}}
    {{ end }}
{{ end }}

{{ return (dict "object" $object) }}