{{ $thisPayload := .payload }}
{{ $siteParams := .siteParams}}
{{ $systemType := index $siteParams.actors $thisPayload.actor.lookup }}

#### `actor`
The `activity` {{ $thisPayload.actor.obligation | default "MAY" }}  have an `actor` describing the {{ $thisPayload.actor.lookup }}. The `actor`:
* MUST have an `@id` which MUST be an HTTP URI identifying the {{ $thisPayload.actor.lookup }}.
* MUST have a `@type` which MUST include {{ $systemType.type }} from AS 2.0.
* MAY have an `ldp:inbox` which MUST be an HTTP URI
* MAY have a name