{{ range (.Data.Pages.ByParam "position") }}
{{ if eq .Params.scope "notify" }}
<div class="row">
  <div class="col-3 column-left">
  </div>
  <div class="col-6 column-center">
    <div class="card">
      <div class="card-header notify-card-header">
        <!--              <a class="card-title-link-white" href="{{ .Permalink }}"><span class="step-number">{{ .Params.position }}</span>&nbsp;{{ .Title }}</a>-->
        <span class="step-number">{{ .Params.position }}</span>&nbsp;{{ .Title }}
      </div>
      <div class="card-body notify-card-body">

          {{ if eq .Params.sender "actor_1" }}
          <img class="arrow-right arrow" src="/images/arrow_right.png"/>
          <p>{{ .Description }}</p>
          <br style="clear: both"/>
          <h3>Mandatory payload</h3>
          <pre><code class="language-json">{{ .Params.mandatory_payload }}</code></pre>

          {{/*
          {{ with .Params.payload_examples }}
          {{ range . }}
          {{ if ne .example "" }}
          <h3>Optional payload example {{ .number }}</h3>
          <p>{{ .description }}</p>
          <pre><code class="language-json">{{ .example }}</code></pre>
          {{ end }}
          {{ end }}
          {{ end }}
          */}}
          {{ else }}
          <img class="arrow-left arrow" src="/images/arrow_left.png"/>
          <p>{{ .Description }}</p>
          <br style="clear: both"/>
          <h3>Mandatory payload</h3>
          <pre><code class="language-json">{{ .Params.mandatory_payload }}</code></pre>

          {{/*
          {{ with .Params.payload_examples }}
          {{ range . }}
          {{ if ne .example "" }}
          <h3>Optional payload example {{ .number }}</h3>
          <p>{{ .description }}</p>
          <pre><code class="language-json">{{ .example }}</code></pre>
          {{ end }}
          {{ end }}
          {{ end }}
          */}}
          {{ end }}
      </div>
    </div>
  </div>
  <div class="col-3 column-right">
  </div>
</div>
{{ end }}
{{ if eq .Params.scope "actor_1" }}
<div class="row">
  <div class="col-3 column-left">
    <div class="card">
      <div class="card-header">
        <span class="step-number">{{ .Params.position }}</span>&nbsp;{{ .Title }}
      </div>
      <div class="card-body">
        {{ .Description }}
      </div>
    </div>
  </div>
  <div class="col-6 column-center">
  </div>
  <div class="col-3 column-right">
  </div>
</div>
{{ end }}
{{ if eq .Params.scope "actor_2" }}
<div class="row">
  <div class="col-3 column-left">
  </div>
  <div class="col-6 column-center">
  </div>
  <div class="col-3 column-right">
    <div class="card">
      <div class="card-header">
        <span class="step-number">{{ .Params.position }}</span>&nbsp;{{ .Title }}
      </div>
      <div class="card-body">
        {{ .Description }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}