{{ $inComingPayload := .payload }}
{{ $siteParams := .siteParams}}

{{ partial "properties/context/doc" (dict "payload" $inComingPayload "siteParams" $siteParams) }}

{{ partial "properties/id/doc" $inComingPayload | markdownify }}

{{ partial "properties/type/doc" $inComingPayload | markdownify }}

{{ with $inComingPayload.actor }}
    {{ partial "properties/actor/doc" (dict "payload" $inComingPayload "siteParams" $siteParams) | markdownify }}
{{ end }}

{{ with $inComingPayload.in_reply_to }}
    {{ partial "properties/in_reply_to/doc" (dict "payload" $inComingPayload "siteParams" $siteParams) | markdownify }}
{{ end }}

{{ with $inComingPayload.object }}
    {{ partial "properties/object/doc" (dict "payload" $inComingPayload "siteParams" $siteParams) | markdownify }}
{{ end }}

{{ with $inComingPayload.origin }}
    {{ partial "properties/origin/doc" (dict "payload" $inComingPayload "siteParams" $siteParams) | markdownify }}
{{ end }}

{{ with $inComingPayload.target }}
    {{ partial "properties/target/doc" (dict "payload" $inComingPayload "siteParams" $siteParams) | markdownify }}
{{ end }}
