{{ $inComingPayload := .payload }}
{{ $siteParams := .siteParams}}

{{ $payload := partial "properties/context/payload" (dict "payload" $inComingPayload "siteParams" $siteParams) }}

{{ $payload = merge $payload (partial "properties/id/payload" $inComingPayload) }}

{{ $payload = merge $payload (partial "properties/type/payload" $inComingPayload) }}

{{ with $inComingPayload.actor }}
    {{ $payload = merge  (partial "properties/actor/payload" (dict "payload" $inComingPayload "siteParams" $siteParams)) $payload }}
{{ end }}

{{ with $inComingPayload.in_reply_to }}
    {{ $payload = merge  (partial "properties/in_reply_to/payload" (dict "payload" $inComingPayload "siteParams" $siteParams)) $payload }}
{{ end }}

{{ with $inComingPayload.object }}
    {{ $payload = merge  (partial "properties/object/payload" (dict "payload" $inComingPayload "siteParams" $siteParams) ) $payload }}
{{ end }}

{{ with $inComingPayload.origin }}
    {{ $payload = merge $payload (partial "properties/origin/payload" (dict "payload" $inComingPayload "siteParams" $siteParams) )}}
{{ end }}

{{ with $inComingPayload.target }}
    {{ $payload = merge $payload (partial "properties/target/payload" (dict "payload" $inComingPayload "siteParams" $siteParams) )}}
{{ end }}

{{ return $payload }}
