{{ define "main" }}
<div class="row">
    <div class="col">
        <h1 class="page-title">Notification Pattern: {{ .Title | markdownify }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Description</h2>
        {{ .Description | markdownify }}
        {{ .Content }}
        <h2>Examples</h2>
        <ul>
        {{ range .Data.Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        {{ end }}
        </ul>
    </div>
</div>
{{ end }}