{{ define "main" }}
<div class="row">
    <div class="col">
        <h1 class="page-title">{{ .Title | markdownify }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ with .Description }}
        <p>{{ . | markdownify }}</p>
        {{ end }}
        <div class="rfc-2119">
            The terms MUST, MUST NOT, REQUIRED, SHALL, SHALL NOT, SHOULD, SHOULD NOT, RECOMMENDED, MAY, and OPTIONAL are used as defined in <a href="https://www.ietf.org/rfc/rfc2119.txt">RFC 2119</a>.
        </div>
        {{ .Content }}
    </div>
</div>
{{ end }}