{{ define "main" }}
    {{ $thisPage := . }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{ .Title | markdownify }}</h1>
            {{ with .Description }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ partial "rfc_2119" }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Properties</h4>
            {{ partial "properties/all_properties" . }}
        </div>
        <div class="col">
            <h4>JSON-LD Payload</h4>
            {{ partial "properties/json_payload" . }}
        </div>
    </div>
{{ end }}
