{{ define "main" }}
  <div class="row">
    <div class="col">
      <h1 class="page-title">Notification Pattern: {{ .Title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{ .Description | markdownify }}</p>
      {{ range .Page.Resources.Match "*.json" }}
      <h3 id='example_{{ index (split .Name ".") 0 }}'>
        Example {{ (index (split .Name ".") 0) }}: {{ .Params.caption | markdownify }}
      </h3>
      <pre><code class="language-json">{{ readFile .RelPermalink }}</code></pre>
      <br/>

      {{ end }}


    </div>
  </div>
{{ end }}