{{ define "main" }}
    {{ $thisPage := . }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{ .Title | markdownify }}</h1>
            {{ with .Description }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ partial "rfc_2119" }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Properties</h4>
            {{ partial "properties/all_properties" (dict "payload" .Params.payload "siteParams" $.Site.Params) }}
        </div>
        <div class="col">
            <h4>Example JSON-LD Payload</h4>
            {{ $payload := partial "properties/json_payload" (dict "payload" .Params.payload "siteParams" $.Site.Params) }}
{{/*            <pre><code class="language-json">{{ $payload | jsonify (dict "indent" "  ") }}</code></pre>*/}}
            {{ (partial "render_json" $payload) | markdownify }}
        </div>
    </div>
{{ end }}
