{{ define "main" }}
<div class="row">
  <div class="col">
    <h1 class="page-title">Pattern: {{ .Title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    {{ .Description }}
    <br/><br/>
    {{ with .Params.payload_example_1 }}
      <h3>Payload example 1</h3>
      <pre><code class="language-json">{{ . }}</code></pre>
      <br/>
    {{ end }}
    {{ with .Params.payload_example_2 }}
      <h3>Payload example 2</h3>
      <pre><code class="language-json">{{ . }}</code></pre>
      <br/>
    {{ end }}
    {{ with .Params.payload_example_3 }}
    <h3>Payload example 3</h3>
    <pre><code class="language-json">{{ . }}</code></pre>
    <br/>
    {{ end }}
    {{ with .Params.payload_example_4 }}
    <h3>Payload example 4</h3>
    <pre><code class="language-json">{{ . }}</code></pre>
    <br/>
    {{ end }}
  </div>
</div>
{{ end }}