img#header-logo {
    max-width: 300px;
}

#top-nav-bar {
    margin-bottom: 10px;
    border-bottom: 3px solid #cdcdcd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}

li.nav-item {
    margin-right: 20px;
    color: #23527c !important;
    font-weight: bold;
}

li.nav-item a {
    text-decoration: none;
    color: #555555 !important;
}

li.nav-item a:hover {
    text-decoration: underline;
}

nav#navbar-breadcrumbs {
    padding: 0px 0px 0px 10px;
    font-size: 80%;
}

li.breadcrumb-item {
    white-space: nowrap;
}

div.page-annotation-alert {
    padding: 3px;
    text-align: center;
    color: #555555;
    font-weight: bold;
    font-style: italic;
}

