#top-nav-bar {
    margin-bottom: 10px;
    /*background-color: #efefef;*/
    /*background-color: #d0e1f2;*/
    border-bottom: 5px solid #cdcdcd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}

li.nav-item {
    margin-right: 20px;
    color: #23527c !important;
    font-weight: bold;
}

li.nav-item a {
    text-decoration: none;
    color: #555555 !important;
}

li.nav-item a:hover {
    text-decoration: underline;
    /*color: #555555;*/
}

li.nav-item-selected {
    background-color: #cdcdcd;
    /*background-color: #d0e1f2;*/
    /*border-top: 1px solid #cdcdcd;*/
    /*border-left: 1px solid #cdcdcd;*/
    /*border-right: 1px solid #cdcdcd;*/
}

nav#navbar-breadcrumbs {
    padding: 0px 0px 0px 10px;
}

ol.breadcrumb-notify {
    background-color: white;
    padding: 0px;
}

li.breadcrumb-item {
    white-space: nowrap;
}