html {
  background-color: white;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1%;
}

body {
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  /*font-family: 'Muli','Helvetica',sans-serif;*/
  /*font-family: 'Montserrat','Helvetica',sans-serif;*/
  font-family: 'Roboto',sans-serif;
  color: #555555;
  font-size: 16px;
}

pre,code {
  padding: 0px;
}

a,a:visited,a:hover {
  color: #23527c;
}

a {
  text-decoration: underline;
}

a.header-title,a.card-title-link {
  text-decoration: none;
  color: #555555;
}

a.card-title-link-white {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 15px;
}

a.site-title:hover {
  text-decoration: underline;
}

h1.page-title {
  /*text-align: center;*/
  /*border-top: 1px solid #cdcdcd;*/
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 10px;
}

/****** Layout table ******/
table.invisible-layout-table tr, table.invisible-layout-table td {
  border: none;
}

td.field-name {
  text-align: right;
  /*font-weight: bold;*/
  white-space: nowrap;
}

.card-header {
  background-color: #d0e1f2;
}

div.rfc-2119 {
  text-align: center;
  border: 1px solid #cdcdcd;
  margin-bottom: 10px;
  background-color: #efefef;
}