#### `object`
The `activity` MUST have an `object` representing the {{ .Get 0 }}. The `object` MUST have the following properties:
* An `@id` which MUST contain the HTTP URI to the "landing page" for the resource
* A `@type` which MUST contain the value _AboutPage_ from schema.org.
* A `url` which MUST contain the details of the actual content resource. The `url` MUST have the following properties:
    * An `@id` which MUST contain the HTTP URI of the content file for the resource.
    * A `@type` which MUST describe the content file, using the following values:
        * *{{ .Get 1 }}* from AS 2.0
        * *{{ .Get 2 }}* from schema.org
    * A `mediaType` which contains the MIME Type of the content file.
